img, video {
  max-width: 100%;   /* не выходит за пределы контейнера */
  height: auto;      /* сохраняет пропорции */
  display: block;    /* убирает лишние отступы снизу */
}
body {
    background-color: #111;
    color: #eee;
    font-family: Georgia, serif;
    padding: 2rem;

}
/* Для экранов до 600px (мобильные телефоны) */
@media (max-width: 600px) {
  body {
    padding: 10px;   /* меньше отступы */
  }
  h1 {
    font-size: 1.5rem;  /* уменьшаем заголовки */
  }
  nav {
    font-size: 14px;     /* уменьшаем меню */
  }
}

